<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>466050876426-38jr1dd4s36e6hngf53bn17r595upl6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.466050876426-38jr1dd4s36e6hngf53bn17r595upl6t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>466050876426-f6qfr4buh9ijjj6lk0s745vefdf29ncs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzxFgGlm9dT6IkxqhyzDEE20TVQpqKnkE</string>
	<key>GCM_SENDER_ID</key>
	<string>466050876426</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snackspop.snackspopnew</string>
	<key>PROJECT_ID</key>
	<string>snackspop-161808</string>
	<key>STORAGE_BUCKET</key>
	<string>snackspop-161808.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:466050876426:ios:1c20737f69837986</string>
	<key>DATABASE_URL</key>
	<string>https://snackspop-161808.firebaseio.com</string>
</dict>
</plist>